.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  width: 100%;
  max-width: 800px; /* Adjust as needed for desktop */
  margin: 0 auto 10px auto; /* Center and add bottom margin */
  background: #ffffff;
  padding: 0 10px; /* Add some horizontal padding */
  box-sizing: border-box;
  border-bottom: 2px solid rgb(212, 212, 212);
}

.header a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-size: 28px;
  font-weight: 900; /* Extra bold */
  font-family: "Arial Black", sans-serif;
  color: #f89c1e;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
}

.bar {
  width: 24px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
