.content-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Adjust as needed for desktop */
  height: 100%; /* 부모 요소(main-content)의 전체 높이 */
  margin: 0 auto; /* 가운데 정렬 */
  box-sizing: border-box;
  overflow-y: auto;
}







