.info-list-section {
  position: relative;
  padding: 0px;
  width: 100%;
  flex-grow: 3;
  margin: 5px;
  border: 2px solid rgb(208, 206, 206);
  border-radius: 10px;
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-wrapper::before,
.scroll-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* 그림자 너비 */
  pointer-events: none; /* 그림자 뒤로 클릭이 가능하도록 설정 */
  z-index: 2;
}

.scroll-wrapper::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
}

.scroll-wrapper::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent);
}

.info-list {
  display: flex;
  overflow-x: hidden;
  gap: 15px; /* 아이템 간 간격 조정 */
  padding: 10px 20px; /* 좌우 여백 추가 */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

.info-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.info-item {
  flex-shrink: 0; /* 아이템 크기 고정 */
  width: 100px; /* 아이템 너비 조정 */
  height: 100px; /* 아이템 높이 조정 */
  border: 1px solid #ddd;
  border-radius: 50%; /* 원형으로 만들기 */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 이미지가 원을 벗어나지 않도록 */
}

.info-item img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  opacity: 0.7; /* 투명도 추가 */
  border-radius: 50%; /* 이미지 자체도 원형으로 만듭니다 */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3; /* 그림자 위에 버튼이 오도록 z-index 조정 */
  padding: 10px;
  font-size: 24px;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000;
}

.scroll-button.left {
  left: 5px;
}

.scroll-button.right {
  right: 5px;
}
